__pycache__
*.pyc
.git
.gitignore
*.md
docker-compose.yml
cloudbuild.yaml
student-dashboard
teacher-dashboard
dev
assets
scripts
.env
**/.env
*-service-account.json
**/*-service-account.json
app/backend/sql
